
.divForm{
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
}

.boton{
  margin-top: 10px;
}