.divCard{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
    .contenedor-card {
      height:600px ;
      width: 350px;
      margin: 15px;
      padding: 0px;
      border-width: 1px;
      border-color: #F44336 ;
      border-style: solid;
    }
    .contenedor-card .dark-mode{
      border-color: #F44336 
    }
  
    .header-card{
      height: 150px;
    }
  
    .img-card{
      height: 350px;
    }
    
    .contenido-card{
      height: 150px;
      margin-top: 5px;
      text-align: center;
    }
  
    .botones-card{
      height: 70px;
    }
  
    .botones{
      margin-left: 5px;
    }
  
    .boton-favorito{
      margin-left: auto;
    }
  
    mat-grid-tile {
      background: rgb(255, 255, 255);
    }

    .rojo{
      color: red;
    }