<div class="divPrincipal">

  <div class="divFiltros">
    
    <p>Filtros por categoria</p>
    <ul>
     
      <li>
        <mat-checkbox color="primary" (change)="filtros('Calzado')"
          [checked]="productosService.categorias.includes('Calzado')">
          Calzado
        </mat-checkbox>
      </li>
  
      <li>
        <mat-checkbox color="primary" (change)="filtros('Indumentaria')"
          [checked]="productosService.categorias.includes('Indumentaria')">
          Indumentaria
        </mat-checkbox>
      </li>
  
      <li>
        <mat-checkbox color="primary" (change)="filtros('Pelota')"
          [checked]="productosService.categorias.includes('Pelota')">
          Pelotas
        </mat-checkbox>
      </li>
    </ul>
  </div>
  
  
  
  
  <div class="divCard" *ngIf="productosService.vistaProductos">
  
    <mat-card *ngFor="let producto of productosService.productos" class="contenedor-card">
  
      <mat-card-header class="header-card">
        <mat-card-title> {{producto.nombre}}</mat-card-title>
        <mat-card-subtitle>Categoria: {{producto.categoria}}</mat-card-subtitle>
      </mat-card-header>
  
      <mat-divider></mat-divider>
  
      <img mat-card-image class="img-card" [src]="producto.imagen" [routerLink]="['/productos', producto.id]">
  
      <mat-divider></mat-divider>
  
      <mat-card-content class="contenido-card">
        <p>
          ${{producto.precio}}
        </p>
      </mat-card-content>
  
      <mat-divider></mat-divider>
  
      <mat-card-actions class="botones-card">
        <!-- input para cantidad de items al carrito -->
        <input type="number" min="1" max="99" [(ngModel)]="producto.cantidad" class="inputNumber">
        <!-- boton agregar al carrito -->
        <button mat-flat-button color="warn" (click)="getElementosCarrito(producto)" class="botones">Agregar al
          carrito</button>
  
        <!-- <button mat-flat-button color="warn" class="botones">Ver más</button> -->
  
        <!-- boton favorito -->
        <button mat-mini-fab color="warn" class="boton-favorito" (click)="AgregarFavorito(producto)">
          <mat-icon [ngClass]="{'rojo':producto.favorito}">favorite</mat-icon>
        </button>
      </mat-card-actions>
  
    </mat-card>
  </div>
  
  <div class="divCard" *ngIf="productosService.vistaFiltrada">
  
    <mat-card *ngFor="let producto of productosService.productosFiltrados" class="contenedor-card">
  
      <mat-card-header class="header-card">
        <mat-card-title> {{producto.nombre}}</mat-card-title>
        <mat-card-subtitle>Categoria: {{producto.categoria}}</mat-card-subtitle>
      </mat-card-header>
  
      <mat-divider></mat-divider>
  
      <img mat-card-image class="img-card" [src]="producto.imagen" [routerLink]="['/productos', producto.id]">
  
      <mat-divider></mat-divider>
  
      <mat-card-content class="contenido-card">
        <p>
          ${{producto.precio}}
        </p>
      </mat-card-content>
  
      <mat-divider></mat-divider>
  
      <mat-card-actions class="botones-card">
        <!-- input para cantidad de items al carrito -->
        <input type="number" min="1" max="99" [(ngModel)]="producto.cantidad" class="inputNumber">
        <!-- boton agregar al carrito -->
        <button mat-flat-button color="warn" (click)="getElementosCarrito(producto)" class="botones">Agregar al carrito</button>
  
        <!-- <button mat-flat-button color="warn" class="botones">Ver más</button> -->
  
        <!-- boton favorito -->
        <button mat-mini-fab color="warn" class="boton-favorito" (click)="AgregarFavorito(producto)">
          <mat-icon [ngClass]="{'rojo':producto.favorito}">favorite</mat-icon>
        </button>
      </mat-card-actions>
  
    </mat-card>
  </div>


</div>




<!-- <div [ngClass]="{'dark-mode':darkMode}">
      <button [color]="myCustomColor"></button> 
  
    </div> -->